$primary: #7db9b6;
$secondary: #4d455d;
$tertiary: #f5e9cf;
$info: #e96479;

$theme-colors: (
  'primary': $primary,
  'secondary': $secondary,
  'tertiary': $tertiary,
  'info': $info,
);

// Import all of Bootstrap's CSS
@import 'bootstrap/scss/bootstrap';

// Custom styles

body {
  font-family: 'Poppins', Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Merriweather', Arial, sans-serif;
}

.card-size {
  width: 18rem;
}

.searchWidth {
  max-width: 300px;
}

.modal-footer {
  border-top: none;
}

.modal-header {
  border-bottom: none;
}

.modal-body {
  padding: 20px;
}
.highest-bidder {
  font-weight: bold;
  background-color: #343a40;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  display: inline-block;
}
.bidder-list {
  list-style: none;
  padding-left: 0;
}
.bidder-list li {
  padding: 2px 0;
}

.cardImageSize {
  height: 200px;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  aspect-ratio: 1/1;
}

.profile-avatar {
  height: 150px;
  width: 150px;
  object-fit: cover;
  overflow: hidden;
  aspect-ratio: 1/1;
}
